@model WebApplication5.Models.Phone
@{
    ViewBag.Title = Model.Name;
}
<div class="container d-flex" style="width:100%;">
    <div class="row">
        <div class="col-lg-5 mb-4">
            <h2>Характеристики</h2>
            <h2>@Model.Name</h2>
                <dl class="dl-horizontal">
                    <dt>Компания</dt>
                    <dd>@Model.Company</dd>
                    <dt>Цена</dt>
                    <dd>@Model.Price</dd>
                    <dt>Операционная система</dt>
                    <dd>@Model.OS</dd>
                    <dt>Описание</dt>
                    <dd>@Model.Description</dd>
                    <dt>Разрешение экрана</dt>
                    <dd>@Model.Screen_resolution</dd>
                    <dt>Разрешение камеры</dt>
                    <dd>@Model.Camera_resolution</dd>
                    <dt>Память в GB</dt>
                    <dd>@Model.Memory</dd>
                    <dt>Страна</dt>
                    <dd>@Model.Country</dd>
                    <dt>Гарантия в годах</dt>
                    <dd>@Model.Garanty</dd>
                    <dt>Диагональ экрана в дюймах.</dt>
                    <dd>@Model.Diagonal</dd>
                    <dt>Процессор</dt>
                    <dd>@Model.Processor</dd>
                    <dt>Кол-во ядер</dt>
                    <dd>@Model.Count_kernels</dd>
                    <dt>Версия блютуза</dt>
                    <dd>@Model.Bluetooth</dd>
                    <dt data-toggle="tooltip" data-placement="left" title="Система бесконтактной оплаты">NFC</dt>
                    <dd>@Model.NFC</dd>
                    <dt>В комплекте также идет</dt>
                    <dd>@Model.Complect</dd>
                    <dt>Дата выхода</dt>
                    <dd>@Model.YearOfRelease</dd>
                </dl>
        </div>
        <div class="col-lg-7 mb-4">
            <img style="width:400px; height:432px;" src="@Model.PhotoPath"/>
        </div>
</div>
</div>
