@model IEnumerable<WebApplication5.Models.Phone>
@{
    ViewBag.Title = "Весь каталог";
}
<h4>@ViewData["content"]</h4>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="corner-box-1 card col-sm-3 m-1" style=" width: 300px; margin-top: 10px;">
            <div class="corner-box-1-content">
                <div class="card-body">
                    <h4 class="card-title">
                        <img src="@item.PhotoPath" style="width:100px; height:100px;" />
                        <br />
                        <a href="#">@item.Name</a>
                    </h4>
                    <h5>@item.Price &#8381</h5>

                    <div class="rating-mini">
                        <span class="active">★</span>
                        <span class="active">★</span>
                        <span class="active">★</span>
                        <span></span>
                        <span></span>
                    </div>
                    <p class="card-text">@item.Description</p>
                    <a style="margin-bottom: 10px;" asp-action="AddBuy" asp-controller="Home" asp-route-id="@item.ID" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Купить</a>
                </div>
            </div>
        </div>
    }
</div>
